{% extends 'AntonShopBundle::layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
    <header>
        <h1>Login</h1>
    </header>

    <form action="{{ path('security_login_check') }}" method="post" class="anton">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>
        </div>
        <input type="submit" value="Login"/>
    </form>
    <a href="{{ path('recovery_password') }}">Forgot password?</a>
{% endblock %}

