{% extends 'default/layout.html.twig' %}

{% block body %}
<div class="entry-content">
    <p>Welcome to the Arthritis Foundation’s new blog! Our blog will give us a unique opportunity to share news, updates
        and healthy living content, while also offering a place for us to interact with our arthritis community. If
        you’re wondering what you can expect from the content you find on our blog, and how the information here differs
        from the information you may find on our website, read on.</p>
    <p>Our blog will allow us to leverage social technologies to engage in two-way communication with our community and
        to take your feedback into consideration as we create new content, tools and resources. In addition, we’ll use
        the blog to share multimedia, such as videos, photo albums and more. Here you’ll also find patient stories,
        resources for caregivers, local event updates and advocacy news, as well as details on opportunities to engage
        with the Arthritis Foundation and other members of the arthritis community.</p>
    <p>As we continue to build our blog, we’ll also create disease-specific content so you can learn more about the
        latest news, research and tips about your specific type of arthritis.</p>
    <p>We look forward to growing with you as we embark on this new journey. Thanks for stopping by!</p>
    {% endblock %}

    {% block sidebarText %}
        <p>To all our friends out there who have embraced our existence and who believe in what we are doing, thank you.
            We appreciate you more than you can know and we are privileged to serve you. It is your enthusiasm and
            desire for great hair and artistry that energizes us in our work.</p>

    {% endblock %}
