.anton-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.anton { font-size: 16px; }
form.anton div { clear: left; margin-bottom: 10px; }
form.anton label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.anton input[type="text"],
form.anton input[type="email"]
{ width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.anton textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.anton input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.anton ul li { color: #1aff00; margin-bottom: 5px; clear: both;}